@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-black: #0C0C0C;
  --color-white: #ffffff;
  --color-lightBlack: #161616;
  --font-outfit: "Outfit", sans-serif;
  --text-base: 16px;
}

@layer base {
  html {
    @apply bg-black scroll-smooth text-white font-outfit;
  }

  body {
    @apply antialiased;
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  button {
    @apply cursor-pointer;
  }

  .btn {
    @apply text-sm px-4 py-2 rounded-md transition cursor-pointer;
  }

  .btn-primary {
    @apply bg-white text-black hover:bg-gray-200;
  }

  .btn-secondary {
    @apply bg-lightBlack text-white border border-white/40 hover:bg-white hover:text-black;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }

  input,
  .custom-input {
    @apply w-full px-4 py-2 bg-lightBlack border border-white/50 rounded-md
  }

  .my-toast {
    @apply bg-white text-black border border-neutral-300 rounded-2xl px-6 py-4 shadow-xl font-outfit text-base;
  }

  .my-toast-body {
    @apply text-black font-outfit text-sm;
  }


}