@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --color-black: #0C0C0C;
  --color-white: #ffffff;
  --color-lightBlack : #161616;
  --font-outfit: "Outfit", sans-serif;
  --text-base: 16px;
}

@layer base {
  html {
    @apply bg-black scroll-smooth text-white font-outfit;
  }

  body {
    @apply antialiased;
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

}